<a href="https://colab.research.google.com/github/arunav93/Python-Programs/blob/main/Coding_Practice_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#DataFrame
import pandas as pd
LoD = [{'a':10, 'b':20}, {'a':5, 'b':10, 'c':20}]
D1 = pd.DataFrame(LoD)

In [ ]:
D1

    a   b     c
0  10  20   NaN
1   5  10  20.0

**Dictinary Comprehension:**

In [2]:
def abcd(num_list):
  return {i:i*3 for i in num_list}      #return sorts the numbers

abcd([3,5,1,7])

{1: 3, 3: 9, 5: 15, 7: 21}

In [3]:
def qwert(a,b):
  myd= {x:y for (x,y) in zip(a,b)}
  return(myd)
a = [3,5,1,7,6]
b = [2,9,3,4,5]  
qwert(a,b)

{1: 3, 3: 2, 5: 9, 6: 5, 7: 4}

In [4]:
keys = [3,5,1,7,6]
values = [2,9,3,4,5]  
  
# but this line shows dict comprehension here  
myDict = { k:v for (k,v) in zip(keys, values)}  #doesnot sort
  
# We can use below too
# myDict = dict(zip(keys, values))  
  
print (myDict)

{3: 2, 5: 9, 1: 3, 7: 4, 6: 5}

**Reverse a Number:**

In [5]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " , reversed_num)

Reversed Number:  4321

In [6]:
n=1234
reverse=0
while n!=0:
  rem=n%10
  reverse =  reverse*10 + rem
  n=n//10
print(reverse)

4321

**Reverse a String:**

In [7]:
text="abcdefg"

def reverse(text):
  emp=""
  for i in text:
    emp=i+ emp
  return(emp)

reverse(text)

'gfedcba'

In [8]:
text="abcdefg"

def reverse(text):
  
  for i in text:
    return(text[::-1])

reverse(text)

'gfedcba'

**Sum of 2 in an array to get target:**

In [9]:
def sum_match(num_list, target):
  for i in range(len(num_list)-1):
    if target == num_list[i] + num_list[i+1]:
      return True
    else:
      return False

num_list = [1,2,3,4,5,6]
target = 9
sum_match(num_list, target)

False

In [ ]:
def sum_match(num_list, target):
  for i in num_list:
    for j in num_list:
      if target == i+j:
       return True
      else:
        return False


num_list = [1,2,3,4,5,6]
target = 9
sum_match(num_list, target)

False