<a href="https://colab.research.google.com/github/arunav93/Python-Programs/blob/main/Coding_Practice_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#DataFrame
import pandas as pd
LoD = [{'a':10, 'b':20}, {'a':5, 'b':10, 'c':20}]
D1 = pd.DataFrame(LoD)

In [ ]:
D1

    a   b     c
0  10  20   NaN
1   5  10  20.0

# Dictinary Comprehension:

In [ ]:
def abcd(num_list):
  return {i:i*3 for i in num_list}      #return sorts the numbers

abcd([3,5,1,7])

{1: 3, 3: 9, 5: 15, 7: 21}

In [ ]:
def qwert(a,b):
  myd= {x:y for (x,y) in zip(a,b)}
  return(myd)
a = [3,5,1,7,6]
b = [2,9,3,4,5]  
qwert(a,b)

{1: 3, 3: 2, 5: 9, 6: 5, 7: 4}

In [ ]:
keys = [3,5,1,7,6]
values = [2,9,3,4,5]  
  
# but this line shows dict comprehension here  
myDict = { k:v for (k,v) in zip(keys, values)}  #doesnot sort
  
# We can use below too
# myDict = dict(zip(keys, values))  
  
print (myDict)

{3: 2, 5: 9, 1: 3, 7: 4, 6: 5}

# Reverse a Number

In [ ]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " , reversed_num)

Reversed Number:  4321

In [ ]:
n=1234
reverse=0
while n!=0:
  rem=n%10
  reverse =  reverse*10 + rem
  n=n//10
print(reverse)

4321

# Reverse a String:

In [ ]:
text="abcdefg"

def reverse(text):
  emp=""
  for i in text:
    emp=i+ emp
  return(emp)

reverse(text)

'gfedcba'

In [ ]:
text="abcdefg"

def reverse(text):
  
  for i in text:
    return(text[::-1])

reverse(text)

'gfedcba'

#Sum of 2 in an array to get target:

In [ ]:
num_list = [10,30,40,50]
for i in range(0, len(num_list)):
    for j in range(i+1, len(num_list)):
      print(num_list[i],num_list[j])

10 30
10 40
10 50
30 40
30 50
40 50

In [ ]:
def sum_match(num_list, target):
  for i in range(0, len(num_list)):
    for j in range(i+1, len(num_list)):
      if num_list[i] + num_list[j] == target:
        return True    
  return False

num_list = [1,2,3,4,5,6]
target = 9
sum_match(num_list, target)

True

In [ ]:
def sum_match(num_list, target):
  for i in num_list:
    for j in num_list:
      if target == i+j and i!=j: 
       return i,j


num_list = [1,2,3,4,5,6]
target = 9
sum_match(num_list, target)

(3, 6)

# Iterate over list of lists

In [14]:
a = [[1, 3, 4], [2, 4, 4], [3, 4, 5]]
for i in a:
  for number in i:
     print(number)

1
3
4
2
4
4
3
4
5

In [15]:
data = [1,2,3,[4,[5,6,7,[8,9]]]]

def print_list(the_list):
#Create a method to recursively iterate through nested lists. If the current element is an instance of list, then call the same method again. If not, print the current element. Here's an example:
    for each_item in the_list:
        if isinstance(each_item, type(list)): 
            print_list(each_item)
        else:
            print(each_item)

print_list(data)

1
2
3
4
5
6
7
8
9

# To check given number representation is in binary or not

In [18]:
num = int(input("please give a number : "))
while(num>0):
    j=num%10
    if j!=0 and j!=1:
        print("num is not binary")
        break
    num=num//10
    if num==0:
        print("num is binary")

please give a number : 101
num is binary

# Program to print the pattern ‘G’

In [19]:

# Python program to print pattern G
def Pattern(line):
    pat=""
    for i in range(0,line):   
        for j in range(0,line):    
            if ((j == 1 and i != 0 and i != line-1) or ((i == 0 or
                i == line-1) and j > 1 and j < line-2) or (i == ((line-1)/2)
                and j > line-5 and j < line-1) or (j == line-2 and
                i != 0 and i != line-1 and i >=((line-1)/2))): 
                pat=pat+"*"  
            else:     
                pat=pat+" "  
        pat=pat+"\n"  
    return pat
  
# Driver Code
line = 7
print(Pattern(line))

  ***
 *
 *
 * ***
 *   *
 *   *
  ***